@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-start: 12 182 114;
  --light: 239 239 239;
  --dark: 32 32 32;
  --foreground-end: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-start: 12 182 114;
    --foreground-end: 0 0 0;
  }
}

body {
  @apply font-lato text-black;
  background: rgb(var(--light));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .main-box-shadow {
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
  }
}

.content {
  @apply container flex flex-shrink-0 flex-grow overflow-hidden lg:mx-auto lg:max-w-screen-xl; /* .content magin top .wrapper magin top/bottom - header height - heder margin top */
}

.title {
  @apply relative text-center text-lg uppercase;
  & h1:after {
    @apply absolute bottom-0 left-1/2 h-[1px] w-[50px];
    margin-left: -25px;
    background: rgb(var(--light));
  }
}

.nav-icon {
  @apply h-7 text-white;
}

.nav-link {
  @apply flex items-center gap-x-2 border-transparent pb-2 text-lg text-white hover:text-yellow-100;
}

.nav-link-button {
  @apply hover:text-main-green flex gap-x-2 rounded border-l-4 border-transparent py-2 pl-3 pr-4 text-lg font-medium text-white hover:border-green-300 hover:bg-white sm:pl-5 sm:pr-6;

  &.active {
    @apply hover:border-main-orange text-main-orange hover:bg-white;

    &:hover .nav-icon,
    & .nav-icon {
      @apply text-main-orange;
    }
  }

  &:hover .nav-icon {
    @apply text-main-green;
  }
}

.nav-link-button-profile {
  @apply block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800;
}

.nav-link-button-profile.active {
  @apply bg-green-100 text-green-500;
}

.label {
  @apply mb-2 block text-sm font-normal text-gray-900 dark:text-white lg:font-medium;
}

.input {
  @apply min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6;
}

.button {
  @apply bg-main-green rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600;
}

.btn-sign-in {
  @apply bg-main-green hover:bg-main-green/90 focus:ring-main-green/50 inline-flex items-center justify-center rounded-lg px-4 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4 dark:focus:ring-green-600;
}
